In [1]:
RententionData = read.csv(file = 'RententionData_for_Anova.csv')
#head(RententionData)
RententionData

   Student_Percentage Rural_or_not Year Fall_semester
1  89                 1            2014 2nd
2  83                 1            2014 3rd
3  80                 1            2014 4th
4  86                 1            2015 2nd
5  82                 1            2015 3rd
6  78                 1            2015 4th
7  88                 1            2016 2nd
8  80                 1            2016 3rd
9  75                 1            2016 4th
10 85                 1            2017 2nd
11 81                 1            2017 3rd
12 79                 1            2017 4th
13 90                 1            2018 2nd
14 82                 1            2018 3rd
15 89                 1            2019 2nd
16 89                 0            2014 2nd
17 84                 0            2014 3rd
18 82                 0            2014 4th
19 89                 0            2015 2nd
20 83                 0            2015 3rd
21 81                 0            2015 4th
22 90                 0            2016 2nd
23 84                 0            2016 3rd
24 82                 0            2016 4th
25 90                 0            2017 2nd
26 85                 0            2017 3rd
27 81                 0            2017 4th
28 90                 0            2018 2nd
29 82                 0            2018 3rd
30 89                 0            2019 2nd

In [2]:

df = pd.read_csv('../RuralData/admissions2020_wFilters.csv')

ERROR: Error in pd.read_csv("../RuralData/admissions2020_wFilters.csv"): could not find function "pd.read_csv"

In [3]:
df

function (x, df1, df2, ncp, log = FALSE)
{
    if (missing(ncp))
        .Call(C_df, x, df1, df2, log)
    else .Call(C_dnf, x, df1, df2, ncp, log)
}
<bytecode: 0x7faf58f5a978>
<environment: namespace:stats>

In [6]:
sum(df['N'])

3600

In [4]:
list(RententionData$Student_Percentage)

[[1]]
 [1] 89 83 80 86 82 78 88 80 75 85 81 79 90 82 89 89 84 82 89 83 81 90 84 82 90
[26] 85 81 90 82 89

In [5]:
RententionData$Rural_or_not = as.factor(RententionData$Rural_or_not)
RententionData$Rural_or_not = relevel(RententionData$Rural_or_not, ref = "1")

In [6]:
RententionData$Year = as.factor(RententionData$Year)
RententionData$Fall_semester = as.factor(RententionData$Fall_semester)

In [7]:
head(RententionData)

  Student_Percentage Rural_or_not Year Fall_semester
1 89                 1            2014 2nd
2 83                 1            2014 3rd
3 80                 1            2014 4th
4 86                 1            2015 2nd
5 82                 1            2015 3rd
6 78                 1            2015 4th

In [8]:
lmod_retention1 = lm(Student_Percentage ~ Rural_or_not + Year + Rural_or_not:Year + Rural_or_not:Fall_semester + Fall_semester:Year, data = RententionData)
summary(lmod_retention1)

Call:
lm(formula = Student_Percentage ~ Rural_or_not + Year + Rural_or_not:Year +
    Rural_or_not:Fall_semester + Fall_semester:Year, data = RententionData)

Residuals:
    Min      1Q  Median      3Q     Max
-1.1667 -0.2917  0.0000  0.2917  1.1667

Coefficients: (3 not defined because of singularities)
                                 Estimate Std. Error t value Pr(>|t|)
(Intercept)                     8.867e+01  1.009e+00  87.860 6.52e-12 ***
Rural_or_not0                   6.667e-01  1.145e+00   0.582 0.578791
Year2015                       -2.167e+00  1.357e+00  -1.597 0.154355
Year2016                       -1.667e+00  1.357e+00  -1.228 0.259041
Year2017                       -2.833e+00  1.357e+00  -2.088 0.075187 .
Year2018                        1.333e+00  1.409e+00   0.946 0.375490
Year2019                        3.333e-01  1.549e+00   0.215 0.835753
Rural_or_not0:Year2015          1.333e+00  1.357e+00   0.983 0.358535
Rural_or_not0:Year2016          3.333e+00  1.357e+00   2.457 0.043688 *
Rural_or_not0:Year2017          2.667e+00  1.357e+00   1.965 0.090125 .
Rural_or_not0:Year2018         -6.667e-01  1.555e+00  -0.429 0.680924
Rural_or_not0:Year2019         -6.667e-01  2.018e+00  -0.330 0.750839
Rural_or_not1:Fall_semester3rd -5.500e+00  1.287e+00  -4.273 0.003689 **
Rural_or_not0:Fall_semester3rd -5.500e+00  1.287e+00  -4.273 0.003689 **
Rural_or_not1:Fall_semester4th -8.500e+00  1.307e+00  -6.502 0.000333 ***
Rural_or_not0:Fall_semester4th -7.500e+00  1.307e+00  -5.737 0.000708 ***
Year2015:Fall_semester3rd       5.000e-01  1.662e+00   0.301 0.772260
Year2016:Fall_semester3rd      -1.500e+00  1.662e+00  -0.903 0.396742
Year2017:Fall_semester3rd       1.000e+00  1.662e+00   0.602 0.566329
Year2018:Fall_semester3rd      -2.500e+00  1.662e+00  -1.504 0.176215
Year2019:Fall_semester3rd              NA         NA      NA       NA
Year2015:Fall_semester4th      -7.192e-14  1.662e+00   0.000 1.000000
Year2016:Fall_semester4th      -2.500e+00  1.662e+00  -1.504 0.176215
Year2017:Fall_semester4th       5.000e-01  1.662e+00   0.301 0.772260
Year2018:Fall_semester4th              NA         NA      NA       NA
Year2019:Fall_semester4th              NA         NA      NA       NA
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.175 on 7 degrees of freedom
Multiple R-squared:  0.9811,	Adjusted R-squared:  0.9218
F-statistic: 16.53 on 22 and 7 DF,  p-value: 0.000437

In [9]:
lmod_retention2 = lm(Student_Percentage ~ Rural_or_not + Fall_semester + Year, data = RententionData)
summary(lmod_retention2)

Call:
lm(formula = Student_Percentage ~ Rural_or_not + Fall_semester +
    Year, data = RententionData)

Residuals:
    Min      1Q  Median      3Q     Max
-3.2000 -0.4833  0.2000  0.7667  2.1333

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)       88.2833     0.7342 120.240  < 2e-16 ***
Rural_or_not0      2.2667     0.5152   4.400  0.00025 ***
Fall_semester3rd  -6.0000     0.6309  -9.510 4.64e-09 ***
Fall_semester4th  -8.7500     0.6876 -12.726 2.45e-11 ***
Year2015          -1.3333     0.8146  -1.637  0.11655
Year2016          -1.3333     0.8146  -1.637  0.11655
Year2017          -1.0000     0.8146  -1.228  0.23315
Year2018          -0.4167     0.9332  -0.446  0.65981
Year2019          -0.4167     1.2116  -0.344  0.73434
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.411 on 21 degrees of freedom
Multiple R-squared:  0.9183,	Adjusted R-squared:  0.8872
F-statistic: 29.52 on 8 and 21 DF,  p-value: 9.663e-10

In [17]:
lmod_retentionT1 = lm(Student_Percentage ~ Rural_or_not  + Fall_semester + Rural_or_not:Year + Year, data = RententionData)
summary(lmod_retentionT1)

Call:
lm(formula = Student_Percentage ~ Rural_or_not + Fall_semester +
    Rural_or_not:Year + Year, data = RententionData)

Residuals:
   Min     1Q Median     3Q    Max
-2.167 -0.250  0.000  0.500  2.083

Coefficients:
                       Estimate Std. Error t value Pr(>|t|)
(Intercept)            88.91667    0.75110 118.382  < 2e-16 ***
Rural_or_not0           1.00000    0.96465   1.037  0.31532
Fall_semester3rd       -6.00000    0.52836 -11.356 4.56e-09 ***
Fall_semester4th       -8.75000    0.57577 -15.197 6.28e-11 ***
Year2015               -2.00000    0.96465  -2.073  0.05465 .
Year2016               -3.00000    0.96465  -3.110  0.00674 **
Year2017               -2.33333    0.96465  -2.419  0.02785 *
Year2018                0.08333    1.09191   0.076  0.94011
Year2019                0.08333    1.39999   0.060  0.95327
Rural_or_not0:Year2015  1.33333    1.36423   0.977  0.34294
Rural_or_not0:Year2016  3.33333    1.36423   2.443  0.02652 *
Rural_or_not0:Year2017  2.66667    1.36423   1.955  0.06832 .
Rural_or_not0:Year2018 -1.00000    1.52525  -0.656  0.52138
Rural_or_not0:Year2019 -1.00000    1.92931  -0.518  0.61133
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.181 on 16 degrees of freedom
Multiple R-squared:  0.9564,	Adjusted R-squared:  0.9209
F-statistic: 26.98 on 13 and 16 DF,  p-value: 2.102e-08

In [20]:
lmod_retentionT2 = lm(Student_Percentage ~ Rural_or_not  + Fall_semester + Year, data = RententionData)
summary(lmod_retentionT2)

anova(lmod_retentionT2, lmod_retentionT1)
# We cannot reject that the model without the Rural_or_not:Year interaction term is sufficient. Hence impact of
# your rural status does not change with the year.

Call:
lm(formula = Student_Percentage ~ Rural_or_not + Fall_semester +
    Year, data = RententionData)

Residuals:
    Min      1Q  Median      3Q     Max
-3.2000 -0.4833  0.2000  0.7667  2.1333

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)       88.2833     0.7342 120.240  < 2e-16 ***
Rural_or_not0      2.2667     0.5152   4.400  0.00025 ***
Fall_semester3rd  -6.0000     0.6309  -9.510 4.64e-09 ***
Fall_semester4th  -8.7500     0.6876 -12.726 2.45e-11 ***
Year2015          -1.3333     0.8146  -1.637  0.11655
Year2016          -1.3333     0.8146  -1.637  0.11655
Year2017          -1.0000     0.8146  -1.228  0.23315
Year2018          -0.4167     0.9332  -0.446  0.65981
Year2019          -0.4167     1.2116  -0.344  0.73434
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.411 on 21 degrees of freedom
Multiple R-squared:  0.9183,	Adjusted R-squared:  0.8872
F-statistic: 29.52 on 8 and 21 DF,  p-value: 9.663e-10

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 21     41.80000 NA       NA        NA         NA
2 16     22.33333  5 19.46667  2.789254 0.05362382

In [25]:
lmod_retentionT1 = lm(Student_Percentage ~ Rural_or_not  + Fall_semester + Rural_or_not:Fall_semester + Year, data = RententionData)

lmod_retentionT2 = lm(Student_Percentage ~ Rural_or_not  + Fall_semester + Year, data = RententionData)

anova(lmod_retentionT2, lmod_retentionT1)

# The fact that we cannot reject that the reduced model without the interaction term is sufficient tells us that
# there is no significant interaction between semesters and rural and not, in terms of retention.

  Res.Df RSS  Df Sum of Sq F        Pr(>F)
1 21     41.8 NA  NA             NA        NA
2 19     37.5  2 4.3       1.089333 0.3565516

In [9]:
lmod_retention3 = lm(Student_Percentage ~ Rural_or_not + Fall_semester, data = RententionData)
summary(lmod_retention3)
anova(lmod_retention3)
lmod_retention3new = lm(Student_Percentage ~ Rural_or_not, data = RententionData)
summary(lmod_retention3new)
anova(lmod_retention3new)
# Then you can compute the relative efficiency: how much more efficient have you made your model by including the blocking factor.

Call:
lm(formula = Student_Percentage ~ Rural_or_not + Fall_semester,
    data = RententionData)

Residuals:
    Min      1Q  Median      3Q     Max
-3.6167 -0.7833  0.2000  0.9708  2.4667

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)       87.5333     0.4738 184.738  < 2e-16 ***
Rural_or_not0      2.2667     0.5065   4.475 0.000134 ***
Fall_semester3rd  -6.0667     0.5940 -10.214 1.36e-10 ***
Fall_semester4th  -8.9167     0.6332 -14.083 1.12e-13 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.387 on 26 degrees of freedom
Multiple R-squared:  0.9023,	Adjusted R-squared:  0.891
F-statistic:    80 on 3 and 26 DF,  p-value: 2.967e-13

              Df Sum Sq    Mean Sq    F value   Pr(>F)
Rural_or_not   1  38.53333  38.533333  20.02398 1.344392e-04
Fall_semester  2 423.30000 211.650000 109.98468 2.056840e-13
Residuals     26  50.03333   1.924359        NA           NA

Call:
lm(formula = Student_Percentage ~ Rural_or_not, data = RententionData)

Residuals:
   Min     1Q Median     3Q    Max
-8.133 -3.333 -1.133  3.600  6.867

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)     83.133      1.062   78.31   <2e-16 ***
Rural_or_not0    2.267      1.501    1.51    0.142
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4.112 on 28 degrees of freedom
Multiple R-squared:  0.07528,	Adjusted R-squared:  0.04225
F-statistic: 2.279 on 1 and 28 DF,  p-value: 0.1423

             Df Sum Sq    Mean Sq  F value  Pr(>F)
Rural_or_not  1  38.53333 38.53333 2.279437 0.1423028
Residuals    28 473.33333 16.90476       NA        NA

In [10]:
lmod_retention4 = lm(Student_Percentage ~ Rural_or_not, data = RententionData)
summary(lmod_retention4)

Call:
lm(formula = Student_Percentage ~ Rural_or_not, data = RententionData)

Residuals:
   Min     1Q Median     3Q    Max
-8.133 -3.333 -1.133  3.600  6.867

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)     83.133      1.062   78.31   <2e-16 ***
Rural_or_not0    2.267      1.501    1.51    0.142
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4.112 on 28 degrees of freedom
Multiple R-squared:  0.07528,	Adjusted R-squared:  0.04225
F-statistic: 2.279 on 1 and 28 DF,  p-value: 0.1423

In [11]:
lmod_retention5 = lm(Student_Percentage ~ Rural_or_not + Fall_semester + Rural_or_not:Fall_semester, data = RententionData)
summary(lmod_retention5)

Call:
lm(formula = Student_Percentage ~ Rural_or_not + Fall_semester +
    Rural_or_not:Fall_semester, data = RententionData)

Residuals:
   Min     1Q Median     3Q    Max
-3.000 -0.500  0.400  0.500  2.167

Coefficients:
                               Estimate Std. Error t value Pr(>|t|)
(Intercept)                     87.8333     0.5636 155.856  < 2e-16 ***
Rural_or_not0                    1.6667     0.7970   2.091   0.0473 *
Fall_semester3rd                -6.2333     0.8359  -7.457 1.07e-07 ***
Fall_semester4th                -9.8333     0.8911 -11.036 6.94e-11 ***
Rural_or_not0:Fall_semester3rd   0.3333     1.1821   0.282   0.7804
Rural_or_not0:Fall_semester4th   1.8333     1.2601   1.455   0.1587
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.38 on 24 degrees of freedom
Multiple R-squared:  0.9107,	Adjusted R-squared:  0.892
F-statistic: 48.92 on 5 and 24 DF,  p-value: 8.248e-12

In [12]:
anova(lmod_retention1, lmod_retention2)

  Res.Df RSS       Df  Sum of Sq F        Pr(>F)
1  7      9.666667  NA        NA       NA        NA
2 21     41.800000 -14 -32.13333 1.662069 0.2547638

In [13]:
anova(lmod_retention2, lmod_retention3)

  Res.Df RSS      Df Sum of Sq F         Pr(>F)
1 21     41.80000 NA        NA        NA        NA
2 26     50.03333 -5 -8.233333 0.8272727 0.5444872

In [14]:
anova(lmod_retention2, lmod_retention4)

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 21      41.8000 NA        NA       NA           NA
2 28     473.3333 -7 -431.5333 30.97129 1.094076e-09

In [15]:
anova(lmod_retention5, lmod_retention3)

  Res.Df RSS      Df Sum of Sq F       Pr(>F)
1 24     45.73333 NA   NA           NA        NA
2 26     50.03333 -2 -4.3      1.12828 0.3401583

In [16]:
final_retention_model = lmod_retention3
summary(final_retention_model)

Call:
lm(formula = Student_Percentage ~ Rural_or_not + Fall_semester,
    data = RententionData)

Residuals:
    Min      1Q  Median      3Q     Max
-3.6167 -0.7833  0.2000  0.9708  2.4667

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)       87.5333     0.4738 184.738  < 2e-16 ***
Rural_or_not0      2.2667     0.5065   4.475 0.000134 ***
Fall_semester3rd  -6.0667     0.5940 -10.214 1.36e-10 ***
Fall_semester4th  -8.9167     0.6332 -14.083 1.12e-13 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.387 on 26 degrees of freedom
Multiple R-squared:  0.9023,	Adjusted R-squared:  0.891
F-statistic:    80 on 3 and 26 DF,  p-value: 2.967e-13

$\textbf{Interpretation}:$
1. The reduced model without the interations is sufficient.
2. The reduced model with only Rural_or_not and Fall_semester but not the Year is sufficient
3. The reduced model with only Rural_or_not but not the Fall_semester is NOT sufficient.
4. So our chosen model would be model3 with Rural_or_not and Fall_semester and predictors.

$\\\\$

5. The retention rate (averaged over all years) of rural students to 2nd Fall semester = 87.5% which is statistically significant, 81.47% to 3rd Fall semester, and 78.6% to 4th Fall semester.
6. Holding the semester constant, averaged over all years, rural students have a retention rate 2.3% lesser than their non-rural counterparts and this result is statistically significant.
7. Since the model without the Rural_or_not:Fall_semester interaction term is sufficient compared to the one with it, we conclude that the difference in retention rates between rural and non-rural remains constant across the semesters, on average.
8. Year is insignificant when included in model and model without year appears sufficient.
9. Keeping the type of student constant (rural or non-rural), the retention rates have significantly decreased in 3rd and 4th semester, on average (makes sense).

From above we will also report that year is not important, and no interaction between semester and rural_or_not.

After the above analysis, a table would be helpful where on one side we have rural and on the other we have non-rural, or maybe above and below, and we display their total count, and then we say what percentage of rural and non-rural were females, BIPOC, etc etc. THEN we should the singular plots of rural, non_rural and each other 4 filters. AND THEN
we run our model and show once we control for variables properly, we see Pell has now changed.